<div class="row">
  <div class="form-container">
    <div class="col-xs-12 col-sm-6 col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="post-title">
            <h2><%= @post.title %></h2>
          </div>
        </div>
        <div class="panel-body">
          <p><%= raw(@post.body) %></p>
        </div>
        <div class="panel-footer">
          <%= link_to "Back", posts_path, class: 'btn btn-default' %>
        </div>
      </div>
    </div>
  </div>
</div>
